<p style="color: green"><%= notice %></p>
<%= render @publication %>
<div class="d-flex justify-content-center mt-3">
  <div class="me-3">
    <%= link_to "Edit this publication", edit_publication_path(@publication), class: "btn btn-secondary me-2" %>
    <%= link_to "Back to publications", publications_path, class: "btn btn-secondary me-2" %>
    <%= button_to "Destroy this publication", @publication, method: :delete, class: "btn btn-danger me-2" %>
  </div>
  <div>
    <% Reaction.kinds.each do |kind| %>
      <%= button_to "#{kind.capitalize}", new_user_reaction_path(publication_id: @publication.id, reaction_type: "publication", kind: kind), method: :post, class: "btn btn-outline-primary me-2" %>
    <% end %>
  </div>
</div>


<h6>Comentarios:</h6>
<%= render 'comments/form', comment: @comment %>

<ul data-lista-comentarios class="container-fluid p-3">
  <% @comments.each do |comment| %>
  <div class="comentarioEnShow">
    <li><strong><%= comment.user.name %>:</strong>
    <br>
    <%= comment.content %></li>
  </div>
  <% end %>
</ul>


